In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
## Load the Ann train model and one hot encodng and scaler pickle file

model= load_model('model.h5')

with open('label_encoder.pkl','rb') as file:
    label_encoder= pickle.load(file)

with open('onehot_encoder_geo.pkl','rb') as file:
    one_hot= pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler= pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [46]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [47]:
#Convert the input data to numerical values
# use one hot encoder
one_hot_encode_geo = one_hot.transform([[input_data['Geography']]])
one_hot_encode_geo_df=pd.DataFrame(one_hot_encode_geo.toarray(), columns=one_hot.get_feature_names_out(['Geography']))

d:\Python_GenAI_course_2025\Basics\ANN\venvann\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [48]:
one_hot_encode_geo_df
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [49]:
## Convert Categorical value as well

input_df['Gender']=label_encoder.transform(input_df['Gender'])

In [50]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       0  ...          1               1            50000

[1 rows x 10 columns]

In [51]:
input_df= pd.concat([input_df.drop('Geography',axis=1),one_hot_encode_geo_df],axis=1)

In [52]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       0  ...                0.0              0.0

[1 rows x 12 columns]

In [53]:
## SCaling teh input data

input_scaled= scaler.transform(input_df)

In [54]:
input_scaled

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [55]:
## Prdiction

prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 2s 2s/step

array([[0.01626386]], dtype=float32)

In [56]:
prediction_proba = prediction[0][0]
prediction_proba

np.float32(0.01626386)